<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="toolbar-title">
      <div class="title">
        <h3>
          Edit My Profile
        </h3>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-profile-edit ion-padding" *ngFor="let user of users">

  <form #customeForm="ngForm">
    <h6 class="heading-small text-muted mb-4">
      User information
      <span class="dot"></span>
    </h6>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="name" name="name" [(ngModel)]="user.name" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address</ion-label>
          <ion-textarea type="text" rows="5" name="address" [(ngModel)]="user.address" required></ion-textarea>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <h6 class="heading-small text-muted mb-4">
      Contact information
      <span class="dot"></span>
    </h6>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="user.email" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Mobile</ion-label>
          <ion-input type="text" name="mobile" [(ngModel)]="user.mobile" required>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="login-btn">
      <button class="btn btn-primary" [disabled]="!customeForm.valid" (click)="onUpdateUser(user)">
        Confirm
      </button>
    </div>
  </form>

</ion-content>