<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Appointment's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <section class="appointments">

    <ion-card class="shadow-md" [routerLink]="['/global-user/appointment']">
      <ion-item>
        <div class="content-text">
          <div class="name">
            <h6>periodic Health checks</h6>
          </div>
          <div class="time">
            <h6>11:Am - 12:00 am</h6>
          </div>
        </div>
        <ion-thumbnail slot="end">
          <img src="../../../assets/doctor/doctor1.png">
        </ion-thumbnail>
      </ion-item>
    </ion-card>

    <ion-card class="shadow-md" [routerLink]="['/global-user/appointment']">
      <ion-item>
        <div class="content-text">
          <div class="name">
            <h6>periodic Health checks</h6>
          </div>
          <div class="time">
            <h6>11:Am - 12:00 am</h6>
          </div>
        </div>
        <ion-thumbnail slot="end">
          <img src="../../../assets/doctor/doctor1.png">
        </ion-thumbnail>
      </ion-item>
    </ion-card>
    
    <ion-card class="shadow-md" [routerLink]="['/global-user/appointment']">
      <ion-item>
        <div class="content-text">
          <div class="name">
            <h6>periodic Health checks</h6>
          </div>
          <div class="time">
            <h6>11:Am - 12:00 am</h6>
          </div>
        </div>
        <ion-thumbnail slot="end">
          <img src="../../../assets/doctor/doctor1.png">
        </ion-thumbnail>
      </ion-item>
    </ion-card>

  </section>

</ion-content>