<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="timeline">
    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id quam illum impedit sint. Illo culpa
        nulla fugiat animi ipsa.
      </ion-card-content>
    </ion-card>
    <span class="line"></span>

    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Address & Timing</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id quam illum impedit sint. Illo culpa
        nulla fugiat animi ipsa.
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Phone</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id quam illum impedit sint. Illo culpa
        nulla fugiat animi ipsa.
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Certificate</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>MBBS</li>
          <li>MCSS</li>
          <li>CSE</li>
          <li>EEE</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>