<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Doctor" inputmode="text" type="text" [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="catagory ion-padding-bottom">
    <div class="wrapper">
      <div class="wrapper-title">
        <h5>
          <span class="ion-text-uppercase bold">Caterogies</span>
          <span class="ion-float-right" [routerLink]="['/global-user/categories']">View All</span>
        </h5>
      </div>
      <div class="wrapper-content">
        <ion-slides pager="false" [options]="sliderOpt" #slider>
          <ion-slide class="wrapper-blk shadow-md" [routerLink]="['/shop/categories']"
            routerLinkActive="router-link-active" *ngFor="let category of categories">
            <h5 [style.color]="category.color">
              {{ category.name }}
            </h5>
            <!-- <div class="effect">
            </div> -->
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </section>

  <section class="doctor-list">
    <ion-card *ngFor="let doctor of doctorDetails" class="shadow-md" [routerLink]="['/global-user/doctor-profile', doctor]">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{ doctor.img1 }}">
        </ion-thumbnail>
        <div class="content-text">
          <div class="name">
            <h6>{{ doctor.doctor_name }}</h6>
          </div>
          <div class="type">
            <small>{{ doctor.specialist }}</small>
          </div>
          <div class="location">
            <small>
              <ion-icon slot="start" name="pin"></ion-icon>
              {{ doctor.address }}
            </small>
          </div>
        </div>
        <div class="content-info" slot="end">
          <div class="review">
            <ion-icon name="star-outline"></ion-icon>
            {{ doctor.rating }}
          </div>
          <div class="more" (click)="presentPopover()">
            <ion-icon slot="end" name="more"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-card>
  </section>
</ion-content>