<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="toolbar-title">
      <div class="title">
        <h1>
          My-Orders
        </h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-orders ion-padding">
  <section class="product">

    <div class="wrapper">
      <h6 class="heading-small text-muted mb-4">
        Today
        <span class="dot"></span>
      </h6>
      <div class="wrapper-item shadow-md">
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate6.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>12-January</span>
          </div>
          <div class="info">
            <span>order no: 212781373</span>
            <span>item: 3</span>
            <span>bill: tk-29098</span>
          </div>
          <div class="proceess">
            <span>in proceess</span>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <h6 class="heading-small text-muted mb-4">
        last week
        <span class="dot"></span>
      </h6>
      <div class="wrapper-item shadow-md">
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate6.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>12-January</span>
          </div>
          <div class="info">
            <span>order no: 212781373</span>
            <span>item: 3</span>
            <span>bill: tk-29098</span>
          </div>
          <div class="proceess">
            <span>Delivered</span>
          </div>
        </div>
      </div>
      <div class="wrapper-item shadow-md">
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate6.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>12-January</span>
          </div>
          <div class="info">
            <span>order no: 212781373</span>
            <span>item: 3</span>
            <span>bill: tk-29098</span>
          </div>
          <div class="proceess">
            <span>returned</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <h6 class="heading-small text-muted mb-4">
        December 2018
        <span class="dot"></span>
      </h6>
      <div class="wrapper-item shadow-md">
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate6.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>12-January</span>
          </div>
          <div class="info">
            <span>order no: 212781373</span>
            <span>item: 3</span>
            <span>bill: tk-29098</span>
          </div>
          <div class="proceess">
            <span>delivered</span>
          </div>
        </div>
      </div>
      <div class="wrapper-item shadow-md">
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate6.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>12-January</span>
          </div>
          <div class="info">
            <span>order no: 212781373</span>
            <span>item: 3</span>
            <span>bill: tk-29098</span>
          </div>
          <div class="proceess">
            <span>delivered</span>
          </div>
        </div>
      </div>
    </div>
  </section>

</ion-content>