<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" fill="solid" size="small" [routerLink]="['/profile-edit']">
        <ion-icon slot="start" name="create" mode="md"></ion-icon>
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-profile ion-padding" *ngFor="let user of users">
  <div class="wrapper">
    <div class="wrapper-header">
      <div class="img-blc">
        <img src="../../../assets/client-03.jpg" alt="" srcset="">
        <span></span>
        <span></span>
      </div>
      <div class="change">
        <button class="btn btn-round btn-primary">Change</button>
      </div>
    </div>
    <div class="wrapper-content">
      <div class="wrapper-list">
        <ion-text>
          <h4 class="bold">{{user.name}}</h4>
        </ion-text>
      </div>
      <div class="wrapper-list">
        <ion-text>
          <h6>Mobile: {{user.mobile}}</h6>
          <p>Email: {{user.email}}</p>
        </ion-text>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="wrapper-title">
      <h5>
        <span class="ion-text-uppercase bold">Address</span>
        <span class="ion-float-right">Add/Manage</span>
      </h5>
    </div>
    <div class="wrapper-content">
      <ion-slides pager="false" [options]="sliderSmall" #slider>
        <ion-slide class="wrapper-blk">
          <p>{{user.address}}</p>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>