<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>decide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="wrapper">
    <div class="wrapper-content">
      <div class="wrapper-text">
        <div class="wrapper-title-lg" text-uppercase>
          <h1>Aide shop</h1>
        </div>
        <div class="wrapper-desc" text-capitalize>
          <p>Get best product in Aide shop</p>
        </div>
      </div>
      <div class="wrapper-button">
        <ion-button class="btn-common">
          Sign in
        </ion-button>
        <br>
        <div class="seperate-btn" text-uppercase>
          <span>Or skip</span>
        </div>
        <ion-button class="btn-common">
          Sign up
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>