<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Appointment Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <section class="appointments">

    <ion-card class="shadow-md">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/doctor/doctor1.png">
        </ion-thumbnail>
        <div class="content-text">
          <div class="name">
            <h6>John Papa</h6>
          </div>
          <div class="title">
            <small>Cardiologist</small>
          </div>
        </div>
      </ion-item>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-item>
        <div class="time">
          <h6>11:00 AM - 12:00 pm</h6>
        </div>
      </ion-item>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-item>
        <div class="location">
          <h6>127 - Sylhet Sadar, Sylhet Bangladesh</h6>
        </div>
      </ion-item>
    </ion-card>

    <div class="booking-btn ion-padding-top">
      <button class="btn btn-round btn-primary">
        cancel Appointment
      </button>
    </div>

  </section>

</ion-content>