<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Appointment Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <section class="appointments">

    <ion-card class="shadow-md">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/doctor/doctor1.png">
        </ion-thumbnail>
        <div class="content-text">
          <div class="name">
            <h6>Name: {{details.patient_name}}</h6>
            <h6>Age: {{details.patient_age}}</h6>
          </div>
        </div>
      </ion-item>
    </ion-card>
    <ion-card class="shadow-md"> 
      <div class="content-doctor">
        <div class="name">
          <h6>DR.Name: {{doctors.doctor_name}}</h6>
        </div>
        <div class="title">
          <h6>Specialist: {{doctors.specialist}}</h6>
        </div>
      </div>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-item>
        <div class="time">
          <h6>Schedule: {{doctors.start_time}} - {{doctors.end_time}}</h6>
        </div>
      </ion-item>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-item>
        <div class="location">
          <h6>Address: {{doctors.address}}</h6>
        </div>
      </ion-item>
    </ion-card>

    <div class="booking-btn ion-padding-top">
      <button class="btn btn-round btn-primary" (click)="onCancelAppoinment(details)">
        cancel Appointment
      </button>
    </div>

  </section>

</ion-content>