<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Hospital" inputmode="email" type="decimal" [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="hospital-list">
    <ion-card class="shadow-md" *ngFor="let hospital of hospitalList" [routerLink]="['/hospital/details', hospital]">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{hospital.img1}}">
        </ion-thumbnail>
        <div class="content-text">
          <div class="name">
            <h6>{{ hospital.name }}</h6>
          </div>
          <div class="location">
            <small>
              <ion-icon slot="start" name="pin"></ion-icon>
              {{ hospital.address }}
            </small>
          </div>
          <div class="location">
            <small>
              <ion-icon slot="start" name="call"></ion-icon>
              {{ hospital.contact }}
            </small>
          </div>
        </div>
      </ion-item>
    </ion-card>
  </section>
  <!-- <section class="hospital-list">
    <ion-card class="shadow-md" [routerLink]="['/hospital/details']">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/doctor/doctor1.png">
        </ion-thumbnail>
        <div class="content-text">
          <div class="name">
            <h6>Jhon Doe</h6>
          </div>
          <div class="type">
            <small>cardiologist</small>
          </div>
          <div class="location">
            <small>
              <ion-icon slot="start" name="pin"></ion-icon>
              Mizan Tea Hospital
            </small>
          </div>
        </div>
        <div class="content-info" slot="end">
          <div class="review">
            <ion-icon name="star-outline"></ion-icon>
            5.0
          </div>
          <div class="more" (click)="presentPopover()">
            <ion-icon slot="end" name="more"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-card>
  </section> -->
</ion-content>