<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>categoriesr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="category-list">

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../assets/doctor/icon-label-2.png">
      </ion-thumbnail>
      <div class="content-text">
        <div class="name">
          <h6>Categories</h6>
        </div>
        <div class="type">
          <small>78 Item</small>
        </div>
      </div>
      <div slot="end">
        <ion-icon name="arrow-forward" mode="ios"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../assets/doctor/icon-label-2.png">
      </ion-thumbnail>
      <div class="content-text">
        <div class="name">
          <h6>Categories</h6>
        </div>
        <div class="type">
          <small>78 Item</small>
        </div>
      </div>
      <div slot="end">
        <ion-icon name="arrow-forward" mode="ios"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../assets/doctor/icon-label-2.png">
      </ion-thumbnail>
      <div class="content-text">
        <div class="name">
          <h6>Categories</h6>
        </div>
        <div class="type">
          <small>78 Item</small>
        </div>
      </div>
      <div slot="end">
        <ion-icon name="arrow-forward" mode="ios"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../assets/doctor/icon-label-2.png">
      </ion-thumbnail>
      <div class="content-text">
        <div class="name">
          <h6>Categories</h6>
        </div>
        <div class="type">
          <small>78 Item</small>
        </div>
      </div>
      <div slot="end">
        <ion-icon name="arrow-forward" mode="ios"></ion-icon>
      </div>
    </ion-item>

  </section>
</ion-content>