<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/ambulance/profile']">
        <ion-icon slot="start" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-details ion-padding">

  <section class="wrapper-slider">
    <div class="wrapper">
      <div class="wrapper-content">
        <ion-slides pager="true" [options]="cateSlide" #slider>
          <ion-slide class="wrapper-blk">
            <img src="../../../../assets/ambulance/4.jpg" alt="" srcset="">
          </ion-slide>
          <ion-slide class="wrapper-blk">
            <img src="../../../../assets/ambulance/3.jpg" alt="" srcset="">
          </ion-slide>
          <ion-slide class="wrapper-blk">
            <img src="../../../../assets/ambulance/1.jpg" alt="" srcset="">
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </section>

  <section class="product-details">
    <ion-row>
      <ion-col col-12>
        <div class="product-title ion-text-capitalize">
          <h4 class="ion-no-margin">Night Bot Ambulance
            <span class="ion-float-right">10% off</span>
          </h4>
          <h4 class="price">
            Tk-1000/ <small>hour</small>
          </h4>
          <small>24/7 Day Night service</small>
        </div>
        <div class="contact">
          <ion-item class="ion-no-padding">
            <ion-avatar slot="start">
              <img src="../../../../assets/client-03.jpg">
            </ion-avatar>
            <ion-label>
              <h3>Lorem ipsum</h3>
              <ion-note>Lorem ipsum dolor sit amet.</ion-note>
            </ion-label>
            <button class="icon">
              <ion-icon slot="end" name="mail"></ion-icon>
            </button>
            <button class="icon">
              <ion-icon slot="end" name="call"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <div class="toggle-btn">
      <button (click)="toggleAccordion()" class="btn btn-round">
        <i class="material-icons" *ngIf="isMenuOpen">
          expand_less
        </i>
        <i class="material-icons" *ngIf="!isMenuOpen">
          expand_more
        </i>
      </button>
    </div>
    <div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'" class="description">
      <div class="wrapper">
        <div class="wrap-title">
          <h4>Description</h4>
        </div>
        <div class="product-description">
          <div class="content-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus a voluptate ad mollitia porro eius,
              quidem at quae minima voluptates.</p>
            <div class="divider-space-text"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quisquam.</p>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="wrap-title">
          <h4 class="">Product Information</h4>
        </div>
        <div class="product-information">
          <div class="content-box">
            <ion-list>
              <ion-item>
                <ion-label>Condition
                  <span>New</span>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Weight
                  <span>100 gr</span>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Categories
                  <span>Fashion</span>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar>
    <div class="footer">
      <div class="card">
        <div class="card-content">
          <ion-row>
            <ion-col size=6>
              <div class="plus-minus-input">
                <button type="button" class="circle left" (click)="countMinus()">
                  <ion-icon slot="start" name="remove"></ion-icon>
                </button>
                <input class="input-group-field" type="number" name="quantity" value="{{clickCounter}}">
                <button type="button" class="circle right" (click)="countPlus()">
                  <ion-icon slot="end" name="add"></ion-icon>
                </button>
              </div>
            </ion-col>
            <ion-col size=6>
              <button class="btn btn-round btn-primary">
                Add to bag
              </button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->