<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="timeline">

    <ion-card class="shadow-md">
      <ion-item>
        <ion-avatar>
          <img src="../../../../../assets/client-03.jpg" alt="" srcset="">
        </ion-avatar>
        <div class="title">
          <ion-card-title>John Doe</ion-card-title>
          <ion-card-subtitle>10th December</ion-card-subtitle>
        </div>
        <div class="review" slot="end">
          <ion-icon name="star-outline"></ion-icon>
          <span>5.0</span>
        </div>
      </ion-item>
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-item>
        <ion-avatar>
          <img src="../../../../../assets/client-03.jpg" alt="" srcset="">
        </ion-avatar>
        <div class="title">
          <ion-card-title>John Doe</ion-card-title>
          <ion-card-subtitle>10th December</ion-card-subtitle>
        </div>
        <div class="review" slot="end">
          <ion-icon name="star-outline"></ion-icon>
          <span>5.0</span>
        </div>
      </ion-item>
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-md">

      <ion-item>
        <ion-avatar>
          <img src="../../../../../assets/client-03.jpg" alt="" srcset="">
        </ion-avatar>
        <div class="title">
          <ion-card-title>John Doe</ion-card-title>
          <ion-card-subtitle>10th December</ion-card-subtitle>
        </div>
        <div class="review" slot="end">
          <ion-icon name="star-outline"></ion-icon>
          <span>5.0</span>
        </div>
      </ion-item>
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>