ion-content {
  .wrapper {
    .wrapper-content {
      .wrapper-list {
        text-align: center;
        line-height: 1.5em;
        h5 {
          margin-top: 0;
          margin-bottom: 0;
        }
        .review {
          display: flex;
          flex-direction: row;
          justify-content: center;
          ion-icon,
          span {
            color: #5e72e4;
          }
        }
      }
    }
  }
  ion-list {
    background: transparent;
  }
  ion-icon:not(ion-item ion-icon) {
    font-size: 24px;
    vertical-align: sub !important;
  }
  ion-item {
    border-radius: 5px;
    border: none !important;
    color: #adb5bd;
    margin-bottom: 16px;
    --min-height: 65px;
    --background: #ffffff;
    --border-color: transparent;
    --inner-border-width: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    ion-icon:nth-last-child(1) {
      color: #b4b4b4;
      font-size: 21px;
    }
  }
  .item .sc-ion-label-md-h,
  .item .sc-ion-label-ios-h {
    --color: #999;
    text-transform: capitalize;
  }
}
@import "node_modules/../../../doctor.scss";
