<ion-header>
  <ion-toolbar>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="time ion-padding-bottom">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="name" placeholder="Patient Name">
    </mat-form-field>
  </div>

  <div class="calendar">
    <ion-card class="shadow-md">
      <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
    </ion-card>
  </div>

  <div class="booking-btn ion-padding-top">
    <button class="btn btn-round btn-primary" (click)="book()"> book now </button>
  </div>
</ion-content>