<ion-header>
  <ion-toolbar>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="time ion-padding-bottom">
    <ion-slides [options]="slideOpt">
      <ion-slide>
        <input type="radio" name="amount" id="1" checked="checked" />
        <label class="button-label" for="1">11AM-12PM</label>
      </ion-slide>
      <ion-slide>
        <input type="radio" name="amount" id="2" />
        <label class="button-label" for="2">11AM-12PM</label>
      </ion-slide>
      <ion-slide>
        <input type="radio" name="amount" id="3" />
        <label class="button-label" for="3">11AM-12PM</label>
      </ion-slide>
      <ion-slide>
        <input type="radio" name="amount" id="4" />
        <label class="button-label" for="4">11AM-12PM</label>
      </ion-slide>
      <ion-slide>
        <input type="radio" name="amount" id="5" />
        <label class="button-label" for="5">11AM-12PM</label>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="calendar">
    <ion-card class="shadow-md">
      <mat-calendar></mat-calendar>
    </ion-card>
  </div>

  <div class="booking-btn ion-padding-top">
    <button class="btn btn-round btn-primary"> book now
    </button>
  </div>
  <!-- <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" startHour="6" endHour="20" step="30" startingDayWeek="1">
  </calendar> -->
</ion-content>