<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="timeline">
    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Oesis Hospital</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Full Hospital Address Will Go here
        <div class="time">
          1pm-9pm
        </div>
      </ion-card-content>
    </ion-card>
    <span class="line"></span>

    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Children Hospital</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Full Hospital Address Will Go here
        <div class="time">
          1pm-9pm
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Osmani Hospital</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Full Hospital Address Will Go here
        <div class="time">
          1pm-9pm
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-md">
      <ion-card-header>
        <ion-card-title>Mizan Hospital</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quaerat!
        <div class="time">
          1pm-9pm
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>