<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Ambulance" inputmode="email" type="decimal" [debounce]="250"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-ambulance-list ion-padding">

  <section class="promo ion-padding-bottom">
    <div class="wrapper">
      <div class="wrapper-content">
        <ion-slides pager="false" [options]="promoSlider" #slider>
          <ion-slide class="wrapper-blk">
            <img src="../../../assets/ambulance/1.jpg" alt="" srcset="">
          </ion-slide>
          <ion-slide class="wrapper-blk">
            <img src="../../../assets/ambulance/2.jpg" alt="" srcset="">
          </ion-slide>
          <ion-slide class="wrapper-blk">
            <img src="../../../assets/ambulance/3.jpg" alt="" srcset="">
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </section>

  <section class="ambulance-list">
    <ion-card class="shadow-md" *ngFor="let ambulance of ambulanceList" [routerLink]="['/ambulance/details', ambulance]">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{ambulance.img1}}">
        </ion-thumbnail>
        <div class="content-text">
          <div class="name">
            <h6>{{ ambulance.name }}</h6>
          </div>
          <div class="type">
            <small>{{ ambulance.type }}</small>
          </div>
          <div class="location">
            <small>
              <ion-icon slot="start" name="pin"></ion-icon>
              {{ ambulance.city }}
            </small>
          </div>
        </div>
        <div class="content-info" slot="end">
          <div class="review">
            <ion-icon name="star-outline"></ion-icon>
            {{ ambulance.rating }}
          </div>
        </div>
      </ion-item>
    </ion-card>
  </section>
</ion-content>