<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="toolbar-title">
      <div class="title">
        <h1>
          your bag
        </h1>
      </div>
      <div class="quantity">
        <span>7 item's in cart</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-cart ion-padding">
  <section class="product">
    <div class="wrapper">
      <div class="wrapper-item">
        <div class="icon">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate6.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>added today</span>
          </div>
          <div class="name">
            Product Name Demo
          </div>
          <div class="info">
            <span>color: Red</span>
            <span>size: S</span>
            <span>Qnty: 2</span>
          </div>
          <div class="price">
            <span>TK-780</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrapper-item">
        <div class="icon">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate1.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>added today</span>
          </div>
          <div class="name">
            Product Name Demo
          </div>
          <div class="info">
            <span>color: Red</span>
            <span>size: S</span>
            <span>Qnty: 2</span>
          </div>
          <div class="price">
            <span>TK-780</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrapper-item">
        <div class="icon">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate7.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>added today</span>
          </div>
          <div class="name">
            Product Name Demo
          </div>
          <div class="info">
            <span>color: Red</span>
            <span>size: S</span>
            <span>Qnty: 2</span>
          </div>
          <div class="price">
            <span>TK-780</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrapper-item">
        <div class="icon">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
        <div class="wrapper-img">
          <img src="../../../../assets/shop/cate7.jpg" alt="" srcset="">
        </div>
        <div class="wrapper-desc">
          <div class="date">
            <span>added today</span>
          </div>
          <div class="name">
            Product Name Demo
          </div>
          <div class="info">
            <span>color: Red</span>
            <span>size: S</span>
            <span>Qnty: 2</span>
          </div>
          <div class="price">
            <span>TK-780</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <div class="footer">
      <div class="card">
        <div class="card-content">
          <ion-row>
            <ion-col size=6>
              <div class="price">
                <h1>
                  <span>total: </span>
                  tk-2628
                </h1>
              </div>
            </ion-col>
            <ion-col size=6>
              <button class="btn btn-round btn-primary" [routerLink]="['/shop/checkout']">
                checkout
              </button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>