ion-toolbar {
  --background: transparent;
  position: absolute;
  width: 100%;
  padding-top: 0 !important;
}
ion-content {
  --background: #fff;
}
.page-home {
  .ion-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .module-selection {
    ion-card {
      text-align: center;
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      height: auto;
      border-radius: 0;
      box-shadow: none;
      // background: rgba(0, 0, 0, 0)
      //   linear-gradient(45deg, #9368e9 0%, #943bea 100%) repeat scroll 0 0;
      background: #e6f2ff;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      .b-position {
        margin: 50px 0 10px;
      }
      .b-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px 5px;
        background: rgba($color: #ffffff, $alpha: 1);
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
        z-index: 999;

        .b-icon {
          border-radius: 50%;
          padding: 5px 6px;
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
          .material-icons {
            font-size: 14px;
            vertical-align: middle;
          }
        }
        h4 {
          font-size: 16px;
          margin-top: 2px;
          margin-bottom: 2px;
          font-weight: 600;
          color: #666;
        }
        p {
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #666;
        }
      }

      .i-bg-1 {
        color: #f71735;
      }
      .i-bg-2 {
        color: #045de9;
      }
      .i-bg-3 {
        color: #fe60a1;
      }
      .i-bg-4 {
        color: #8e2de2;
      }
    }
    .bg-shape {
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      bottom: -5px;
    }
  }
  .flash-sale,
  .trending {
    .wrapper {
      margin: 10px 0 20px 0;
      .wrapper-content {
        .wrapper-blk {
          position: relative;
          border-radius: 15px;
          display: block;
          overflow: hidden;
          border: 2px solid #fff;
        }
        img {
          width: 100%;
          height: 100%;
        }
        .level {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          margin-bottom: 20px;
          background: #943bea;
          padding: 5px 7px;
          font-size: 12px;
          color: #ffffff;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
.flash-sale {
  .wrapper-content {
    .wrapper-blk {
      width: 100%;
      height: 180px;
    }
    .swiper-zoom-container > img {
      -o-object-fit: cover !important;
      object-fit: cover !important;
    }
  }
}
.trending {
  .wrapper {
    margin-bottom: 0;
  }
  .wrapper-content {
    .wrapper-blk {
      width: 140px;
      height: 180px;
    }
    .swiper-zoom-container > img {
      -o-object-fit: cover !important;
      object-fit: cover !important;
    }
  }
}
.card-btm-page {
  // position: relative;
  z-index: -1;
  ion-card {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 5vh;
    border-radius: 0;
    box-shadow: none;
    background: rgba(0, 0, 0, 0)
      linear-gradient(45deg, #fe60a1 0%, #ff8765 100%) repeat scroll 0 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
