ion-content {
  ion-item {
    border-radius: 0.375rem;
    border: none !important;
    color: #adb5bd;
    margin-bottom: 10px;
    --min-height: 55px;
    --background: #ffffff;
    --border-color: transparent;
    --inner-border-width: 0;
    --highlight-height: 2px;
    --transition: all 1s ease !important;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    --highlight-color-focused: linear-gradient(
        to top,
        #9c27b0 2px,
        rgba(156, 39, 176, 0) 2px
      ),
      linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  }
  .btn-primary {
    width: 100%;
  }
}
@import "node_modules/../../../../doctor.scss";
